<!DOCTYPE html>
<html lang="en">
<head>
  <title>Table V02</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/administrator/listCurators/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/css/util.css">
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/css/main.css">
  <!--===============================================================================================-->
</head>

<style>
  .studentInfo{
    padding: 20px;
    background: #ededed;
    box-shadow: black 0 0 16px;
  }
  .studentInfo h1{
    text-align: center;
    font-size: 25px;
  }

  .input-group-text{
    width: 180px;
    border-radius: 0;
  }
</style>

<body>

    <div class="wrap-table100 studentInfo">
      <h1>Дані про студента</h1>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
        <input data-type="id" style="background: #cfcfcf;" value="<%=student._id%>" disabled type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ПІБ</span>
        <input data-type="name" value="<%=student.name%>" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Код</span>
        <input data-type="code" value="<%=student.code%>" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ID Telegram</span>
        <input style="background: #cfcfcf;" value="<%=student.TelegramID%>" disabled type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Куратор</span>
        <input style="background: #cfcfcf;" value="<%= student.curator %>" disabled type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <br>
      <button onclick="InfoStudent_remove('<%=student._id%>')" type="button" class="btn btn-danger">Видалити</button>
      <button onclick="InfoStudent_edit()" style="float: right" type="button" class="btn btn-primary">Зберегти</button>
    </div>


<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/bootstrap/js/popper.js"></script>
<script src="../../../../../views/administrator/listCurators/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/js/main.js"></script>

</body>
</html>