<!DOCTYPE html>
<html lang="en">
<head>
  <title>Table V02</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/administrator/listCurators/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/css/util.css">
  <link rel="stylesheet" type="text/css" href="/administrator/listCurators/css/main.css">
  <!--===============================================================================================-->
</head>
<body>

<style>
  .row.header{
    text-align: left;
  }

  .row .cell:nth-child(1){
    width: 200px;
  }
  .row .cell:nth-child(2){
    width: 200px;
  }
  .row .cell:nth-child(3){
    width: 300px;
  }
  .row .cell:nth-child(4){

  }
</style>

<div class="wrap-table100">
  <div class="table">

    <div class="row header">
      <div class="cell">
        ПІБ
      </div>
      <div class="cell">
        Код
      </div>
      <div class="cell">
        Telegram ID
      </div>
      <div class="cell">
        Куратор
      </div>
    </div>


    <% arrStudents.forEach(student => { %>
      <div class="row" onclick="getProfileStudent('<%= student.id %>')">
        <div class="cell" data-title="Full Name">
          <%= student.name %>
        </div>
        <div class="cell" data-title="Code">
          <%= student.code %>
        </div>
        <div class="cell" data-title="Telegram ID">
          <%= student.TelegramID %>
        </div>
        <div class="cell" data-title="Curator">
          <%= student.curator %>
        </div>
      </div>
    <% })%>

  </div>
</div>



<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/bootstrap/js/popper.js"></script>
<script src="../../../../../views/administrator/listCurators/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../../../../views/administrator/listCurators/js/main.js"></script>

</body>
</html>